<h1>Registration</h1>

<% if @errors %>
  <% @errors.each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<form action="/musicians" method="POST">
  <input type="text" name="musician[first_name]" placeholder="firstname"><br><br>
  <input type="text" name="musician[last_name]" placeholder="lastname"><br><br>
  <!-- <input type="text" name="musician[instrument]" placeholder="instrument"><br><br> -->
  <input type="text" name="musician[years_experience]" placeholder="years of experience"]><br><br>
  <input type="text" name="musician[city]" placeholder="city"><br><br>
  <input type="text" name="musician[country]" placeholder="country"><br><br>
  <input type="text" name="musician[postcode]" placeholder="postcode"><br><br>
  <input type="email" name="musician[email]" placeholder="email"><br><br>
  <input type="password" name="musician[password_hash]" placeholder="password"><br><br>
  <input type="submit" value="create profile">
</form>
