<h1><%= @user.first_name %></h1>

<p>subscribed channels:
  <ul>
    <% @channels.each do |channel| %>
    <li>
      <%= channel.name %>
      </li>
      <% end %>
    </ul>
  </p>

 <p>Total price per month: $<%= @channels.reduce(0) {|sum, channel| sum + channel.price_per_month } %></p>

 <form action='/channels' method='GET'>
   <input type='submit' value='return to homepage'>
 </form>
