<div class="container">
  <h1>Welcome to Instajamm!</h1>
  <p>Hello, world!</p>

  <body background="../logo.jpg" data-gr-c-s-loaded="true">

  <a href="/musicians/new"><h4>registration</h4></a>

</body>
