<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css?app=skills">
  <link rel="stylesheet" href="/css/application.css?app=skills">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js?app=skills"></script>

  <title></title>
</head>
<body id='main-body'>
  <% if logged_in?  %>
    <form action="/sessions" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="logout"><br><br>
  <% else %>
    <a href='/musicians/new'>register</a><br><br>
    <a id="log-in" href="/sessions/new">login</a><br><br>
  <% end %>
  </form>
  <%= yield %>
</body>
</html>
